@inherits LayoutComponentBase
<div class="page">
    <NavMenu />
    <div class="sidebar">
        <!-- Sidebar content if needed -->
    </div>
    <main>
        <div class="top-row px-4" style="margin-top:56px;">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
